<div class="container">
    <h1> Pick rock, paper, or scissor</h1>

    <div class="row">
      <div class="col l4">
    <h2> Rock</h2>
    <a href="/throw/rock">
    <img src="https://geology.com/articles/difficult-rocks/difficult-rock-identification.jpg" width="150px">
    </a>
    </div>

    <div class="col l4">
    <h2> Paper</h2>
    <a href="/throw/paper">
    <img src="https://static.pexels.com/photos/416346/pexels-photo-416346.jpeg" width="150px">
    </a>
    </div>

    <div class="col l4">
    <h2> Scissors</h2>
    <a href="/throw/scissors">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71t7UGkz2IL._SL1500_.jpg" width="150px">
    </a>
    </div>
    </div>
</div>
